<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestioneOrdini.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="GestioneOrdiniConnectionString" connectionString="Server=NB-ZBOOK;Database=5EsseSrl;User Id=sa;Password=itech;"/>
	</connectionStrings>
	<appSettings>
		<add key="MagoServer" value="localhost"/>
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <GestioneOrdini.Properties.Settings>
            <setting name="GestioneOrdini_TbServices_TbServices" serializeAs="String">
                <value>http://localhost/mago4/TbServices/TbServices.asmx</value>
            </setting>
            <setting name="GestioneOrdini_LogicManager_MicroareaLoginManager"
                serializeAs="String">
                <value>http://localhost/Mago4/LoginManager/LoginManager.asmx</value>
            </setting>
            <setting name="GestioneOrdini_LockManager_MicroareaLockManager"
                serializeAs="String">
                <value>http://localhost/Mago4/lockmanager/LockManager.asmx</value>
            </setting>
        </GestioneOrdini.Properties.Settings>
    </applicationSettings>
</configuration>